h1{
  text-align: center;
}
img{
  margin-left: 35%;
}
h4 {
  font-family: 'Poppins', sans-serif; 
  background-color: #f1c40f; 
  color: #2c3e50; 
  padding: 10px 15px; 
  border-radius: 8px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  text-align: center; 
  transition: transform 0.2s; 
}

h4{
  transform: scale(1.05);
}